*.pyc
.DS_Store
.vscode/
.idea/
db.sqlite3
.python-version
node_modules/
package-lock.json
src/zelda/deps/static/admin/
src/zelda/deps/static/jet/
src/zelda/deps/static/range_filter/
src/zelda/deps/static/css/bootstrap.min.css
tests/student_auth.txt
tests/prof_auth.txt
