#login > #form {
  float: left;
  margin-left: 10%;
  margin-top: 7%;
  width: 35%;
}
body {
  background-color: #fbfbff;
}

#login > #img {
  float: right !important;
  width: 50%;
  margin-right: -10%;
}

#img_form {
  display: block;
  margin: auto;
  width: 35%;
}

#img_background {
  width: 40%;
  position: fixed;
  height: auto;
}

.button_login {
  background-color: #ae6857;
  color: white;
  border: none;
}
.button_login:hover {
  background-color: #76473c;
}

@media only screen and (max-width: 810px) {
  /* For mobile phones: */
  #img_background {
    display: none;
    width: 0%;
    margin: auto;
    padding-right: 3%;
    padding-left: 3%;
  }
  #login > #form {
    padding-top: 20%;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    margin: auto;
  }
}
@media only screen and (min-height: 1300px) {
  /* For mobile phones: */
  #img_background {
    display: none;
    width: 0%;
    margin: auto;
  }
  #login > #form {
    margin-top: 20%;
    width: 80%;

    margin-left: 10%;
  }
  #img_form {
    width: 15%;
    margin: auto;
  }
}
