#login > #form {
  float: left;
  margin-left: 10%;
  margin-top: 20%;
  width: 35%;
}
body {
  background-color: #fbfbff;
}

#login > #img {
  float: right !important;
  width: 50%;
  margin-right: -10%;
}

#img_background {
  height:auto; 
  width:auto; 
  position: fixed;
  

}

.button_login {
  background-color: #ae6857;
  color: white;
  border: none;
}
.button_form_switch {
  text-decoration: underline;
  background-color: transparent;
  color:black;
  border-color: transparent;
}


#formLanguageSwitch {
  position: relative;
  display: inline;
  float: left;
 
}
button_form_switch :hover{
  background-color: #ae6857;
  color: white;
  border: none;
}
.button_form_switch :active {
  text-decoration: none;
}

#img_form {
  margin-top: 5%;
  position: absolute;
  display: block;
  width: 10%;
  margin-left: 23%;
}

#logo_uni {
  margin-top: 6%;
  position: absolute;
  width: 12%;
  display: block;
  margin-left: 35%;
  border-left: 2px solid grey;
  padding-left: 3%;
}

#logos {
  margin-left: auto;
}


@media only screen and (max-width: 810px) {
  /* For mobile phones: */
  #img_background {
    display:none;
    margin-top: 0%;
    position: fixed;
    position: absolute;
    height: 100%;
  }
  #login > #form {
    padding-top: 50%;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    margin: auto;
  }

  #img_form {
    margin-top: 18%;
    position: absolute;
    display: block;
    width: 25%;
    margin-left: 23%;
  }

  #logo_uni {
    margin-top: 20%;
    position: absolute;
    width: 25%;
    display: block;
    margin-left: 50%;
    border-left: 2px solid grey;
    padding-left: 3%;
  }
}
@media only screen and (max-width: 1006px) and (max-height:1006px){
  /* For mobile phones: */
  #img_background {
    display:none;
    margin-top: 0%;
    position: fixed;
    position: absolute;
    height: 100%;
  
  }
  #login > #form {
    padding-top: 50%;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    margin: auto;
  }
  #img_form {
    width: 15%;
    margin: auto;
  }
  #img_form {
    margin-top: 18%;
    position: absolute;
    display: block;
    width: 25%;
    margin-left: 23%;
  }

  #logo_uni {
    margin-top: 20%;
    position: absolute;
    width: 25%;
    display: block;
    margin-left: 50%;
    border-left: 2px solid grey;
    padding-left: 3%;
  }
}
/* ---------------------------------------------LOGIN END ---------------------------------  */

/* --------------------------------------------- FRONTPAGE START  ---------------------------------  */
#img{
  width: 100%;
  float:right;
}
#img_background_all {
  margin-top: 0%;
  position: fixed;
  position: absolute;
  height: 100%;
  margin-left: 71%;
}

@media only screen and (max-width: 1256px){
  /* For mobile phones: */
  #img_background_all {
    visibility: hidden;
    width: 0%;
    margin: auto;
  }
  
}

/* --------------------------------------------- FRONTPAGE END  ---------------------------------  */

/* --------------------------------------------- NAVIGATOR START  ---------------------------------  */

.navImage {
  display: inline-block;
  margin-top: 2%;
  margin-right: auto;
  border-radius: 50%;
}

.navLogoImages {
  padding-left: 5%;
  margin-left: 40%;
  margin-right: 7%;
}
.nomedoUser {
  padding-left: 10px;
  display: inline;
  font-family: 'Karla', sans-serif;
  font-size: 120%;
}

#navbar {
  background-color: #b77668;
  padding: 0;
}

.fa-sign-out-alt {
  color: white;
  font-size: 120%;
}
.fa-envelope {
  color: white;
  font-size: 120%;
}

/* --------------------------------------------- NAVIGATOR END  ---------------------------------  */

/* --------------------------------------------- MAINMENU START  ---------------------------------  */

#mainMenu {

  width: 90%;
  margin: auto;
  margin-top: 5%;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.card-deck{
  margin-top: 2%;
  text-align: center;
} 

#card_prof{
  background-color: transparent;
  border: none;
}

.card-header , .card-footer{
  background-color: white;
  font-size: 125%;
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: lighter !important;
}


.list-group-item > a {
  color: black;
  font-size: 100%;
}


#searchProfile {
  margin-top: 5%;
}

.list-group-item.active{
  background-color: #b77668;
}
.backgroundFrontPage {
  height: auto;
  margin-bottom: 0;

  position: fixed;
  width: 140%;
  margin-top: -40%;
}

.searchButton {
  background-color: #623725;
}

.searchButton:hover {
  background-color: #ae6857;
}

.fa-search {
  color: white;
}


.title_main_menu{
  font-size: 200%;
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: lighter !important;
  text-align: center;
 padding: 5%;
 position: relative;
}
/* --------------------------------------------- MAIN MENU END  ---------------------------------  */

.ReactTable{
  background-color: white;
}

.search_students_attendances{
  width: 100%;
  position: relative;
  margin-bottom: 2%;
  background-color: #ae6857;
  color: white;
  border: none;
}

.search_students_attendances:hover{
  background-color: #b77668;
}

.search_students_attendances:active{
  background-color: #b77668;
}


.dropdown-menu.show{
  height: 90%;
  position: absolute;
  margin-top:50%;

  
}

.dropdown-menu.show > .dropdown-header{
  font-size: 120%;
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: lighter !important;
  text-align: center;
}

#navigation_Menu{
  margin-left:10%;
  margin-top:1% !important;
  display: inline;
  position: absolute;
  font-family: 'Karla', sans-serif;
  font-weight: lighter !important;
  font-size:110%;
  
}

#navigation_Menu > a {
 color:black;
}

#navigation_Menu > a:link {
  color:#ae6857;
  text-decoration: underline;
 }